<section id="ubicacion" class="py-12 bg-gray-50">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl font-bold text-gray-800 mb-6">¿Dónde Estamos?</h2>
        <p class="text-lg text-gray-600 mb-8">
            Visítanos en nuestra ubicación. ¡Te esperamos!
        </p>

        <div
            class="flex flex-col lg:flex-row items-center justify-center gap-8"
        >
            <div
                class="map-container w-full lg:w-2/3 h-96 shadow-lg rounded-lg overflow-hidden"
            >
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d241.14722674655872!2d-90.17060742946138!3d14.748983330742417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x8589e945e789468f%3A0x1d6ea0a1b2b8ce16!2sdonde%20panchito!3m2!1d14.749066399999998!2d-90.1705899!4m0!5e0!3m2!1ses!2sgt!4v1733600370836!5m2!1ses!2sgt"
                    width="100%"
                    height="100%"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                >
                </iframe>
            </div>

            <div class="text-gray-700 text-left">
                <h3 class="text-2xl font-semibold mb-4">Nuestra Dirección</h3>
                <p class="text-lg mb-4">
                    Donde Panchito, 14.7490664, -90.1705899
                </p>
                <p class="mb-4">
                    Estamos en un lugar ideal para disfrutar de la mejor comida.
                    Encuéntranos en la siguiente dirección:
                </p>
                <ul class="list-disc list-inside mb-4">
                    <li>Aldea San Juan las flores</li>
                </ul>
                <a
                    href="https://www.google.com/maps/dir/donde+panchito//@14.7489833,-90.1706074,21z/data=!4m8!4m7!1m5!1m1!1s0x8589e945e789468f:0x1d6ea0a1b2b8ce16!2m2!1d-90.1705899!2d14.7490664!1m0?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D"
                    target="_blank"
                    class="inline-block bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition"
                >
                    Cómo llegar
                </a>
            </div>
        </div>
    </div>
</section>
